:host {
  display: block;
  min-height: 75vh;
  background:
  linear-gradient(to right bottom, rgba(18, 29, 49, 0.7), rgba(31, 44, 66, 0.9)),
  url('/Pictures/contactsBg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 2rem;
  color: #D9C7BA;
}

.container-contact{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  background-color: rgba(49, 57, 85, 0.9);
  border-radius: 20px;
}

hr{
  margin-left: auto;
  margin-right: auto;
}
.linkedin a{
  text-decoration: none;
  color:#D9C7BA;
}

@media only screen and (max-width:600px) {
  .container-contact{
    width: 90%;
  }

}